*{
	box-sizing: border-box;
}

html,body{
	margin: 0px;
	padding: 0px;
	background-color: #1b0047;
}

h1{
	font-family: 'Orbitron', sans-serif;
	text-transform: capitalize;
	font-weight: bold;
	margin: 0;
	padding: 0;
	font-size: 5em;
	color: white;
}

h2{
	font-family: 'Orbitron', sans-serif;
	font-weight: normal;
	margin: 0;
	padding: 0;
	font-size: 2em;
	color: white;
}

.introsection{
	margin-top: 4rem;
	padding-bottom: 4rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mapbox{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 4rem;
}

.mapbox h2{
	margin-bottom: 1rem;
}

#map{
	width: 600px;
	height: 400px;
}

.marker {
	background-image: url(../images/marker.png);
  background-size: cover;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
}

.mapboxgl-popup-content {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
}

.openweather{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 4rem;
}

.openweather h2{
	margin-bottom: 1rem;
}

#weather {
	display: none;
	margin-top: 1rem;
	padding: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	background-color: white;
	width: 40%;
	border-radius: 50px;
	text-align: center;
}

.hidden {
	display: none;
}

input{
	height:5vh;
	width: auto;
	font-size: 1.2em;
}

#getWeather{
	margin: 0;
	height: 5vh;
	width: auto;
	font-size: 1.2em;
	margin-left: 20px;
	cursor: pointer;
}
